
#user-panel{
    background-color: darkgrey;
    width:180px;
    float: left;
    height:500px;
    margin:15px;
    margin-left:200px;
    padding:15px;
    opacity:50%;

}

body{
    color:white;
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;

}

#center{
   
    width:1300;
    float:left;
    
}

#search-panel{
    background-color: darkgrey;
    margin:15px;
    height:150px;
    width: 600px;
    padding:15px;

}

#history{
    background-color:darkgrey;
    margin: 15px;
    height:600px;
    padding:15px;
}

#nyt{
    background-color: darkgrey;
    margin:15px;
    float:left;
    height:700px;
    width:600px;
    padding:15px;
}

.navbar-brand{
    font-size:30px;
    font-weight:bolder;
}